*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
	--semi_trasparent: rgba(255, 255, 255, 0.196);
    --nav_borders: rgba(255, 255, 255, 0.424);
    --nav_text_color: #FFF;
    --ticket_container_text: #fff;
}

body{
    height: 100vh;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(129,110,163,1) 100%);
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .nav_side{
        width: 20%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .nav_container{
            width: 300px;
            height: 400px;
            background-color: var(--semi_trasparent);
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            position: relative;
            color: var(--nav_text_color);
        }

            .nav_item{
                padding: 10px 5px;
                display: flex;
                align-items: center;
                font-size: 30px;
                border-bottom: 1px solid var(--nav_borders);
            }

                .icon{
                    font-size: 25px;
                }

                #column_icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                }

                .icon_label{
                    font-weight: 600;
                }

                    .eta{
                        padding-left: 90px;
                        color: rgba(255, 255, 255, 0.596);
                        font-weight: 200;
                    }

            .collapsed_nav_icons{
                display: flex;
                position: absolute;
                bottom: 0;
                width: 100%;
            }

                .collapsed_nav_item{
                    border-top: 1px solid var(--nav_borders);
                    border-bottom: none;
                }

                #faq{
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    right: 1px solid var(--nav_borders);
                    
                }

                    #faq_icon{
                        font-size: 40px;
                    }

                #lingua{
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 40px;
                    border-left: 1px solid var(--nav_borders);
                }

                    #lingua_icon{
                        font-size: 40px;
                    }

    .ticket_side{
        width: 80%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

        .ticket_container{
            display: flex;
            width: 80%;
            height: 600px;
            background-color: var(--semi_trasparent);
            border-radius: 15px;
            position: relative;
            color: var(--ticket_container_text);
        }

                .illustration{
                    position: absolute;
                    top: -280px;
                    right: -170px;
                }


            .ticket_sx{
                display: flex;
                width: 60%;
                height: 100%;
            }
                .ticket_shop{
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    position: relative;
                }

                    .ticket_buy_fase{
                        font-size: 50px;
                        font-weight: 900;
                        position: absolute;
                        top: -100px;
                        padding-left: 20px;
                    }

                    
                        .tratta_icona{
                            display: flex;
                            margin: 30px 20px;
                        }

                            #position_icon{
                                margin-right: 10px;
                            }

                            .tratta{
                                font-size: 28px;
                                font-weight: 700;
                            }

                            .maps{
                                height: 80%;
                                margin: 0px 20px;
                                border-radius: 15px;
                                overflow: hidden;
                            }

                                .googlemaps{
                                    width: 100%;
                                    height: 100%;
                                }

            .ticket_dx{
                display: flex;
                flex-direction: column;
                margin-top: 25%;
                margin-left: 30px;
            }

                .checkout{
                    font-size: 50px;
                    font-weight: 900;
                    margin-bottom: 15px;
                }

                    .cart_item{
                        font-size: 28px;
                        font-weight: 400;
                        line-height: 35px;
                    }

                    .prezzo{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                    }
                        #prezzo_finale{
                            font-size: 50px;
                            font-weight: 800;
                        }

